<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schoolabsence">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_apps"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_apps"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolAbsence">
        <activity
            android:name=".View.Admin.AbsenceRecap"
            android:exported="false" />
        <activity
            android:name=".View.Admin.Users"
            android:exported="false" />
        <activity
            android:name=".View.Profile"
            android:exported="false" />
        <activity
            android:name=".View.HomeApp"
            android:exported="false" />
        <activity
            android:name=".View.Authentication.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".View.Authentication.SignIn"
            android:exported="false" />
        <activity
            android:name=".View.Authentication.Auth"
            android:exported="false" />
        <activity
            android:name=".View.Authentication.SignUp"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".View.Admin.LocationSchoolSettings"
            android:exported="false" />
        <activity
            android:name=".View.Admin.AdministratorMenu"
            android:exported="false" />
        <activity
            android:name=".View.Admin.CompareDistance"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>